<div class="navbar" dir="ltr">

  <!-- Logo -->
  <div class="start">
    <img
      src="../../../assets/images/header/logo.png"
      id="logo"
      alt="logo"
    />
  </div>


  <!-- Spacer -->
  <span class="example-spacer"></span>


  <!-- Desktop Menu -->
  <div
    class="desktop-menu"
    fxShow="true"
    fxHide.lt-md="true"
  >

    <!-- Home -->
    <a
      mat-button
      routerLink="/lists"
      class="nav-button"
    >
      <mat-icon>home</mat-icon>

      <span>
        {{ 'navbar.Home' | translate }}
      </span>
    </a>


    <!-- Certificate -->
    <button
      mat-button
      [matMenuTriggerFor]="menu"
      class="nav-button"
    >

      <span>
        {{ 'navbar.Certificate' | translate }}
      </span>

      <mat-icon>arrow_drop_down</mat-icon>

    </button>


    <!-- Certificate Menu -->
    <mat-menu #menu="matMenu">

      <button
        mat-menu-item
        (click)="getvalidcertificate()"
      >
        <mat-icon>verified</mat-icon>

        {{ 'buttons.Valid Certificate' | translate }}
      </button>


      <button
        mat-menu-item
        (click)="getinvalidcertificate()"
      >
        <mat-icon>cancel</mat-icon>

        {{ 'buttons.Invalid Certificate' | translate }}
      </button>


      <button
        mat-menu-item
        (click)="getallcertificate()"
      >
        <mat-icon>folder_open</mat-icon>

        {{ 'buttons.Get All Certificates' | translate }}
      </button>

    </mat-menu>


    <!-- Language -->
    <a
      mat-button
      (click)="changeLanguage()"
      class="language-button"
    >

      <span>
        {{ lang == 'en' ? '(ع)' : '(en)' }}
      </span>

      <img
        *ngIf="lang == 'ar'"
        src="../../../assets/images/header/eng.png"
        alt="English"
      />

      <img
        *ngIf="lang == 'en'"
        src="../../../assets/images/header/ar.png"
        alt="Arabic"
      />

    </a>

  </div>


  <!-- Mobile Menu -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="mobileMenu"
    class="mobile-menu-button"
    aria-label="Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>


  <!-- Mobile Menu -->
  <mat-menu #mobileMenu="matMenu">

    <button
      mat-menu-item
      routerLink="/lists"
    >
      <mat-icon>home</mat-icon>

      {{ 'navbar.Home' | translate }}
    </button>


    <button
      mat-menu-item
      (click)="getvalidcertificate()"
    >
      <mat-icon>verified</mat-icon>

      {{ 'buttons.Valid Certificate' | translate }}
    </button>


    <button
      mat-menu-item
      (click)="getinvalidcertificate()"
    >
      <mat-icon>cancel</mat-icon>

      {{ 'buttons.Invalid Certificate' | translate }}
    </button>


    <button
      mat-menu-item
      (click)="getallcertificate()"
    >
      <mat-icon>folder_open</mat-icon>

      {{ 'buttons.Get All Certificates' | translate }}
    </button>


    <button
      mat-menu-item
      (click)="changeLanguage()"
    >

      <mat-icon>language</mat-icon>

      {{ lang == 'en' ? '(ع)' : '(en)' }}

    </button>

  </mat-menu>


  <!-- Current Section -->
  <div
    class="current-section"
    *ngIf="currentSection"
  >
    {{ currentSection }}
  </div>

</div>